In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
# Param configuration
start_date = "2015-01-08"
end_date = "2015-01-15"

# Generate data frame to hold all required information
df = pd.DataFrame(columns=["date", "sector_name", "Adj Close", "weight", "return", "contribution"])

from louise_get_data import get_req_data

# Load in info
sp500_tickers_data = get_req_data(start_date, end_date)

# add the sectors + dates + adj close to the dataframe
for sector in sp500_tickers_data.keys():
    dates = sp500_tickers_data[sector]["sector_data"].index
    print(dates)

df.head()

DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)
DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

Empty DataFrame
Columns: [date, sector_name, Adj Close, weight, return, contribution]
Index: []

In [2]:
type(sp500_tickers_data["S&P 500 Consumer Discretionary (Sector)"]["sector_data"])

pandas.core.series.Series

In [3]:
sp500_tickers_data["S&P 500 Consumer Discretionary (Sector)"]["sector_data"].iloc[0]

560.5

In [4]:
sp500_tickers_data["S&P 500 Consumer Discretionary (Sector)"]["sector_data"].index

DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [5]:
sp500_tickers_data

{'S&P 500 Materials (Sector)': {'sector_data': Date
  2015-01-07    298.519989
  2015-01-08    305.600006
  2015-01-09    304.070007
  2015-01-12    303.130005
  2015-01-13    299.609985
  2015-01-14    296.049988
  Name: Adj Close, dtype: float64},
 'S&P 500 Industrials (Sector)': {'sector_data': Date
  2015-01-07    471.709991
  2015-01-08    481.109985
  2015-01-09    475.869995
  2015-01-12    472.730011
  2015-01-13    471.809998
  2015-01-14    469.109985
  Name: Adj Close, dtype: float64},
 'S&P 500 Consumer Discretionary (Sector)': {'sector_data': Date
  2015-01-07    560.500000
  2015-01-08    568.830017
  2015-01-09    562.340027
  2015-01-12    559.679993
  2015-01-13    559.020020
  2015-01-14    552.580017
  Name: Adj Close, dtype: float64},
 'S&P 500 Consumer Staples (Sector)': {'sector_data': Date
  2015-01-07    502.549988
  2015-01-08    510.149994
  2015-01-09    506.049988
  2015-01-12    504.309998
  2015-01-13    504.239990
  2015-01-14    502.910004
  Name: Adj Close, dtype: float64},
 'S&P 500 Health Care (Sector)': {'sector_data': Date
  2015-01-07    806.000000
  2015-01-08    819.859985
  2015-01-09    813.229980
  2015-01-12    812.679993
  2015-01-13    808.729980
  2015-01-14    807.940002
  Name: Adj Close, dtype: float64},
 'S&P 500 Financials (Sector)': {'sector_data': Date
  2015-01-07    324.980011
  2015-01-08    329.769989
  2015-01-09    325.359985
  2015-01-12    322.600006
  2015-01-13    321.510010
  2015-01-14    316.950012
  Name: Adj Close, dtype: float64},
 'S&P 500 Information Technology (Sector)': {'sector_data': Date
  2015-01-07    676.219971
  2015-01-08    691.580017
  2015-01-09    689.640015
  2015-01-12    680.369995
  2015-01-13    679.929993
  2015-01-14    676.320007
  Name: Adj Close, dtype: float64},
 'S&P 500 Telecommunication Services (Sector)': {'sector_data': Date
  2015-01-07    150.279999
  2015-01-08    152.600006
  2015-01-09    151.589996
  2015-01-12    152.440002
  2015-01-13    152.619995
  2015-01-14    151.979996
  Name: Adj Close, dtype: float64},
 'S&P 500 Utilities (Sector)': {'sector_data': Date
  2015-01-07    240.970001
  2015-01-08    242.669998
  2015-01-09    241.089996
  2015-01-12    240.449997
  2015-01-13    241.210007
  2015-01-14    243.490005
  Name: Adj Close, dtype: float64},
 'S&P 500 Real Estate (Sector)': {'sector_data': Date
  2015-01-07    195.850006
  2015-01-08    196.839996
  2015-01-09    197.130005
  2015-01-12    198.130005
  2015-01-13    197.559998
  2015-01-14    198.699997
  Name: Adj Close, dtype: float64}}

In [9]:
records = []
for sector, data in sp500_tickers_data.items():
    for x in range(0, len(data['sector_data'])):

        record = {"sector" : sector, "date" : data['sector_data'].index[x], "adj_close" : data["sector_data"][x]}
        records.append(record)

df = pd.DataFrame(records)

df.head()

                       sector       date   adj_close
0  S&P 500 Materials (Sector) 2015-01-07  298.519989
1  S&P 500 Materials (Sector) 2015-01-08  305.600006
2  S&P 500 Materials (Sector) 2015-01-09  304.070007
3  S&P 500 Materials (Sector) 2015-01-12  303.130005
4  S&P 500 Materials (Sector) 2015-01-13  299.609985

array(['2015-01-07T00:00:00.000000000', '2015-01-08T00:00:00.000000000',
       '2015-01-09T00:00:00.000000000', '2015-01-12T00:00:00.000000000',
       '2015-01-13T00:00:00.000000000', '2015-01-14T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [22]:
# Access sector name

# Data pipeline - building in the data required 

# fetch the sectors required - what layer in the json do we need 

# data structure where we can store the return for the day for each structure 
                   
# Desired output to the user 
# For time period x - x
# S&P500 -- 45% Return

# Attribution
# Sector 1: 16% 
# Sector 2: -12%
# Sector 3: 8%