In [1]:
import yahooquery as yq
import yfinance as yf
import pandas as pd
import sys
 
# setting path
sys.path.append('../OpenBBTerminal-main/')
from openbb_terminal.portfolio import portfolio_model
sys.path.append('../OpenBBTerminal-main/openbb_terminal/')

from portfolio import attribution_model

In [2]:
# file_location = "C:\Repositories\TH_CSIDS\OpenBBTerminal-main\portfolio\holdings\Public_Equity_Orderbook.xlsx"
file_location = "C:\Repositories\TH_CSIDS\OpenBBTerminal-main\portfolio\holdings\pf_attirb_qa_2.xlsx"


orderbook = portfolio_model.PortfolioModel.read_orderbook(
                str(file_location)
            )
start_date = orderbook['Date'][0]

In [3]:
# attribution_model.get_portfolio_sector_contributions_original(start_date, orderbook)

In [4]:
contrib_dataframe = attribution_model.get_portfolio_sector_contributions(start_date, orderbook)
display(contrib_dataframe)

['GOOGL']

c:\Users\SJMac\anaconda3\envs\obb\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

                                             contribution  contribution_as_pct
Sector
S&P 500 Materials (Sector)                       0.000000                  0.0
S&P 500 Industrials (Sector)                     0.000000                  0.0
S&P 500 Consumer Discretionary (Sector)          0.000000                  0.0
S&P 500 Consumer Staples (Sector)                0.000000                  0.0
S&P 500 Health Care (Sector)                     0.000000                  0.0
S&P 500 Financials (Sector)                      0.000000                  0.0
S&P 500 Information Technology (Sector)          0.000000                  0.0
S&P 500 Telecommunication Services (Sector)      2.469877                100.0
S&P 500 Utilities (Sector)                       0.000000                  0.0
S&P 500 Real Estate (Sector)                     0.000000                  0.0
S&P 500 Energy (Sector)                          0.000000                  0.0

In [5]:
# contrib_df, sector_df, pf_trades = attribution_model.get_portfolio_sector_contributions(start_date, orderbook)

In [6]:
# display(contrib_df)
# display(sector_df)
# display(pf_trades)
# print(contrib_df.isna().sum())

In [7]:
pd.DataFrame(yf.download(['AAPL','GOOGL'], start='2020-01-01', progress=False)['Adj Close'])

                  AAPL       GOOGL
Date
2019-12-31   72.039879   66.969498
2020-01-02   73.683571   68.433998
2020-01-03   72.967224   68.075996
2020-01-06   73.548637   69.890503
2020-01-07   73.202713   69.755501
...                ...         ...
2022-10-12  138.339996   97.559998
2022-10-13  142.990005   99.059998
2022-10-14  138.380005   96.559998
2022-10-17  142.410004   99.970001
2022-10-18  143.750000  100.769997

[706 rows x 2 columns]