In [1]:
import yahooquery as yq
import yfinance as yf
import pandas as pd
import sys
 
# setting path
sys.path.append('../OpenBBTerminal-main/')
from openbb_terminal.portfolio import portfolio_model
sys.path.append('../OpenBBTerminal-main/openbb_terminal/')

from portfolio import attribution_model

In [2]:
file_location = "C:\Repositories\TH_CSIDS\OpenBBTerminal-main\portfolio\holdings\Public_Equity_Orderbook.xlsx"
# file_location = "C:\Repositories\TH_CSIDS\OpenBBTerminal-main\portfolio\holdings\pf_attirb_qa_2.xlsx"


orderbook = portfolio_model.PortfolioModel.read_orderbook(
                str(file_location)
            )
start_date = orderbook['Date'][0]

c:\Users\SJMac\anaconda3\envs\obb\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [3]:
attribution_model.get_portfolio_sector_contributions_original(start_date, orderbook)

c:\Users\SJMac\anaconda3\envs\obb\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

                                             contribution  contribution_as_pct
sector
S&P 500 Consumer Discretionary (Sector)              2.81                29.83
S&P 500 Consumer Staples (Sector)                    0.00                 0.00
S&P 500 Energy (Sector)                              0.00                 0.00
S&P 500 Financials (Sector)                          0.00                 0.00
S&P 500 Health Care (Sector)                         0.75                 7.96
S&P 500 Industrials (Sector)                         0.00                 0.00
S&P 500 Information Technology (Sector)              5.82                61.78
S&P 500 Materials (Sector)                           0.00                 0.00
S&P 500 Real Estate (Sector)                         0.00                 0.00
S&P 500 Telecommunication Services (Sector)          0.04                 0.42
S&P 500 Utilities (Sector)                           0.00                 0.00

In [4]:
contrib_dataframe = attribution_model.get_portfolio_sector_contributions(start_date, orderbook)
display(contrib_dataframe)

c:\Users\SJMac\anaconda3\envs\obb\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

             date Ticker     value
0      2010-05-03   AAPL       NaN
1      2010-05-04   AAPL       NaN
2      2010-05-05   AAPL       NaN
3      2010-05-06   AAPL       NaN
4      2010-05-07   AAPL       NaN
...           ...    ...       ...
45525  2022-10-15    YUM       NaN
45526  2022-10-16    YUM       NaN
45527  2022-10-17    YUM  0.001817
45528  2022-10-18    YUM  0.000828
45529  2022-10-19    YUM       NaN

[45530 rows x 3 columns]

In [5]:
# contrib_df, sector_df, pf_trades = attribution_model.get_portfolio_sector_contributions(start_date, orderbook)

In [6]:
# display(contrib_df)
# display(sector_df)
# display(pf_trades)
# print(contrib_df.isna().sum())